[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
tzlocal = "*"
sqlalchemy = ">=2.0.41,<3.0"
asyncpg = "*"
asyncmy = "*"
aioodbc = "*"
tenacity = "*"
httpx = {extras = ["http2"]}
json-repair = "*"

[dev-packages]

[requires]
