[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
fastapi = "*"
uvicorn = {extras = ["standard"], version = "*"}
sqlalchemy = ">=2.0.41,<3.0"
asyncpg = "*"
asyncmy = "*"
aioodbc = "*"
json-repair = "*"

[dev-packages]

[requires]
